<section class="layout-wrap">
    <div class="layout-title">
        <h1>分類檢索</h1>
    </div>

    <div class="layout-wrap-inner categories-card">

      <% function categoriesCard(name, attr){
          return '#' + name + '@';
        }
      %>
      <% var categoriesDataStr = list_categories(site.categories, { style: '', separator: ',', transform: categoriesCard});
        var data = [];
        var categoriesDataArr = categoriesDataStr.split(',');
        for( var i=0; i<categoriesDataArr.length; i++) {
          var tmp =  categoriesDataArr[i].split('@');
          data.push({
            name : tmp[0].split('#')[1],
            count : tmp[1].replace(/<span class="category-count">/, '').replace(/<\/span><\/a>/, '')
          });
        }
      %>

      <!-- new categories -->
      <% for(var i in data) { %>
      	<div class="inner categories-inner">
            <div class="base-info categories-block">
                <img class="avatar" src="/images/categories/<%=data[i].name %>.jpg" />
                <h2 class="name">
                  <%= data[i].name %>
                  <a class="fa fa-file-o" style="color:black; font-size:8px">  <%= data[i].count %></a>
                </h2>
                <!-- <p class="desc">簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述</p> -->
                <a class="goto-category" target="_blank" href="/categoriesl/<%=data[i].name.replace(/./, '-')%>/">
                  文章列表     <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
            <% } %>
        </div>
      <% } %>
    </div>
</section>
