@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

input, button
    margin: 0
    padding: 0
    &::-moz-focus-inner
        border: 0
        padding: 0

html, body, #container
    height: 100%

body
    color: color-default
    background: color-background
    // background: url('/images/assets/white.png')
    font: font-size font-sans
    -webkit-text-size-adjust: 100%

a
    color: color-link
    text-decoration: none
    &:visited
        color: color-link

code
    margin: 0 2px
    color: #e96900
    padding: 3px 5px
    font-size: 0.8em
    border-radius: 2px
    font-family: font-mono
    background-color: #f8f8f8

.outer
    clearfix()
    max-width: (column-width + gutter-width) * columns + gutter-width
    margin: 0 auto
    padding: 0 gutter-width
    @media mq-mini
        padding: 0

.left, .alignleft
    float: left

.right, .alignright
    float: right

.clear
    clear: both

.logo
    width: logo-width
    height: logo-height
    background-repeat: no-repeat
    background-image: url(logo-url)
    background-size: logo-width logo-height

#container
    position: relative
    & > .outer
        margin-bottom: 30px

#main
    @media mq-normal
        column(main-column)
    @media mq-tablet
        if sidebar
            column(main-column-tablet)
        else
            width: 100%
    @media mq-mobile
        width: 100%
    @media mq-mini
        width: 100%

@import "_extend"
@import "_partial/header"
@import "_partial/profile"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/timeline"
@import "_partial/footer"
@import "_partial/sidebar"
@import "_partial/insight"
@import "_highlight/index"

if sidebar is left
    #main
        float: right
    #profile
        float: right

.categories-card
    display: none
    @media mq-normal
        display: block
    .inner
        @extend $block
        float: left
        width: calc( 33.3% - 1.2em)
        margin-left: 0.6em
        margin-right: 0.6em
        margin-top: 1.2em
        background: white
        .base-info
            .avatar
                display: block
                margin: 10px auto 20px
                width: profile-avatar-size
                height: profile-avatar-size
            .name, .count, .location
                display: block
                text-align: center
            .name
                font-size: 20px
                font-weight: 600
            .desc
                font-size: font-size - 2
                margin-top: 5px
                text-align: center
                color: color-default + #444
                .fa
                    margin-right: 5px
            .goto-category
                // color: white
                width: 115px
                height: 40px
                display: block
                font-size: 14px
                line-height: 40px
                text-align: center
                margin: 20px auto 10px
                // background: color-link
                background: white
                color: color-link
                border: solid 4px color-link + #111
                border-radius: 2px
                transition: 0.2s ease
                &:hover
                    background: color-link + #111
                    color : white
        .article-info
            clearfix()
            padding: 0px
            .article-info-block
                width: 50%
                float: left
                padding: 20px 15px
                text-align: center
                box-sizing: border-box
                font-size: font-size + 6px
                span
                    display: block
                    font-size: font-size
                    text-transform: uppercase
                &:first-child
                    border-right: 1px solid color-border
        .social-links
            & > table
                width: 100%
                td
                    text-align: center
                    font-size: font-size + 10px
                    a
                        position: relative
                        transition: 0.2s ease
                        color: color-default + #333
                        &:hover
                            color: color-default
                        &.tooltip:hover
                            &:after
                                right: -50%
                                top: -41px
                                color: white
                                background: #333
                                font-size: 14px
                                content: attr(title)
                                display: block
                                padding: 5px 15px
                                position: absolute
                                white-space: nowrap
                                border-radius: 2px
                                text-transform: uppercase
                                box-shadow: 0 0 2px rgba(0, 0, 0, 0.2)
                                z-index: 1
                            &:before
                                top: -12px
                                right: 8px
                                border: solid
                                border-color: #333 transparent
                                border-width: 5px 5px 0 5px
                                content: ""
                                display: block
                                position: absolute
                                z-index: 2
    &.card
        top: 50px
        right: 20px
        z-index: 999
        display: block
        min-width: 280px
        position: absolute
        .categories-inner
            position: relative
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
            &:before, &:after
                z-index: 1
                content: ''
                top: -20px
                right: 10px
                position: absolute
                border-width: 10px
                border-style: solid
                border-color: transparent transparent white transparent
            &:after
                z-index: 0
                border-color: transparent transparent color-border - #111 transparent

.categories-block
    padding: 15px 20px
    border-bottom: 1px solid color-border
    &:last-child
        border-bottom: none
